/***for images on products page***/
.dFlex, .main_content, .main_content .card, .main_content .card .card_header, .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_content h2 {
  position: absolute;
  left: 0;
  top: 0;
  color: #fe8033;
  font-size: 10.5vw;
}

.main_content .card {
  width: 30%;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
}

.main_content .card .card_img {
  margin-top: -5vw;
}

.main_content .card .card_img img {
  width: 200px;
}

.main_content .card .card_header {
  color: #fff;
  margin: 25px 0;
}

.main_content .card .card_header h2 {
  font-size: 18px;
}

.main_content .card .card_header p {
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 8px 0;
}

.main_content .card .card_header .price {
  font-size: 25px;
  color: #fe8033;
}

.main_content .card:hover {
  background-color: #272b34;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.main_content .card:hover .btn {
  background-color: #fe8033;
  color: #fff;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  overflow: hidden;
}

/**quantity**/
.quantity-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

.quantity-input:focus {
  background: red;
}

.quantity-input__modifier,
.quantity-input__screen {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.quantity-input__modifier {
  padding: .7rem;
  width: 3rem;
  font-size: 1.5rem;
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.quantity-input__modifier:hover {
  background: #dadada;
  color: #555555;
}

.quantity-input__modifier--left {
  border-radius: 3px 0 0 3px;
}

.quantity-input__modifier--right {
  border-radius: 0 3px 3px 0;
}

.quantity-input__screen {
  width: 4rem;
  padding: .7rem;
  font-size: 1.5rem;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #e2e1e0;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

/****/
/*# sourceMappingURL=style.css.map */