.App {
  text-align: center;
  margin-top: 10%;
}

.login{
  margin-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#heading{
  font: italic bold 3.2em "Fira Sans", serif;
}

.navbar-dark {
  background-color: #3dd3cc;
}

#logo{
  margin-left: 0px;
}

.navcontainer{
  padding: 0px;
}

.navitem{
  float:left; 
}

.w-nav-menu {
  position: relative;
  float: right;
}


.nav-link{
  font-size: 28px;
  display: flex;
  align-items:flex-start;
  
}

.carousel-item > img { 
  width: 100%; 
  height:600px;
}

.postButton{
  background-color:#3dd3cc;
}

/***for images on products page***/
.dFlex, .main_content, .main_content .card, .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_content h2 {
  /**position: absolute;
  left: 0;
  top: 0;**/
    text-align: center;

  color: black;
  font-size: 10.5vw;
}

.main_content .card {
  width: 30%;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
}

.main_content .card .card_img {
  margin-top: -5vw;
}

.main_content .card .card_img img {
  width: 200px;
}

.main_content .card .card_header {
  color:black;
  margin: 25px 0;
}

.main_content .card .card_header h2 {
  font-size: 28px;
}


.main_content .card .card_header p {
  font-size: 24px;
  text-align: center;
  color: black;
  margin: 8px 0;
}

.pagination{
  text-align:center;
  margin: auto;
  color:black;
}

.main_content .card .card_header .price {
  font-size: 25px;
  color: black;
  
}



.main_content .card:hover {
  background-color: #C5C5C5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.main_content .card:hover .btn {
  background-color: #3dd3cc;
  color: #fff;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 24px;
  border-radius: 35px;
  background-color:#C5C5C5;
  color: black;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */


.displayimg{
  width:400px;
  height:450px;
}

.quantity-input__screen{
  width:50px;
  text-align: center;
}

.search{
  margin-left: auto;
}

.Dropdown{
  margin-right: 10px;
}


.total{
  margin: auto;
  width:600px;
  height:150px;
}

.totalContent{
  margin:auto;
  margin-top: 5%;
}

.totalpice{
  color:#3556c0;
}

.cartproceed{
  margin-left:10%;
  margin-top: 3%;
  height:50px;
}

.creditcard{
  align-items: center;
}

.create h1 {
  color:#3dd3cc
}